<html>
   <head>
      <%# <link rel="stylesheet" href="/styles.css" /> %>
   </head>
   <body>
    <div class="form">
      <h1>Enter the name of a city:</h1>
      <form action="/" method="post">
      <label for="city">City:</label><br>
      <input type="text" id="city" name="city" class="input-box"><br>
      </form>
    </div>
   </body>
</html>