<html>
   <head>
      <link rel="stylesheet" href="/style.css" />
   </head>
   <body>
    <div class="form">
      <h1>Enter the name of a city:</h1>
      <form action="/" method="post">
      <input type="text" id="city" name="city" class="input-box"><br>
      <input type="submit" value="Submit">
      </form>
    </div>
   </body>
</html>