.weather-info {
    margin: auto;
    width: 60%;
    border: 10px solid #7fa0cb;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: #b0c4de;
  }

.form {
  margin: auto;
  width: 60%;
  border: 10px solid #7fa0cb;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  background-color: #b0c4de;
}

.input-box {
  margin-bottom: 10px;
}

.city-header {
  font-weight: bold;
}

.weather-header {
  font-weight: normal;
}